* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-size: 1.25rem;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p, h1, h2, h3, h4, h5 {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1000px;
  margin: 60px auto;
}

.hidden {
  display: none;
}
