/* Geral */

.woocommerce a {
  text-decoration: underline;
}

/* Notification */
.woocommerce-message, .woocommerce-info, .woocommerce-error {
  background: #EEEEEE;
  border: none;
  color: #000000;
  padding: 15px 20px;
}

.woocommerce-message::before, .woocommerce-info::before, .woocommerce-error::before {
  display: none;
}

.woocommerce-error {
  border-left: 4px solid orangered;
}

.woocommerce-message, .woocommerce-info {
  border-left: 4px solid olivedrab;
}

/* Forms */
.woocommerce .input-text {
  font-size: 1.125rem !important;
  border: 1px solid rgba(0, 0, 0, .08) !important;
  background: rgba(0, 0, 0, .08) !important;
  padding: 10px 15px !important;
  border-radius: 4px !important;
}

.woocommerce form .form-row {
  padding: 3px 0;
}

.woocommerce button.button {
  background-color: #000000 !important;
  color: #FFFFFF !important;
  font-weight: 500 !important;
  text-transform: capitalize;
  min-height: 43px;
}

/* Cart */
.woocommerce #coupon_code {
  min-width: 180px;
  margin-right: 10px;
}

.woocommerce-cart a.button.alt {
  text-transform: capitalize;
  font-weight: 500;
  background-color: #0066BB;
  transition: 0.3s;
}

.woocommerce-cart a.button.alt:hover {
  background-color: #1188EE;
}

.woocommerce-cart .cart-totals h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.woocommerce table.shop_table {
  border-radius: 0px;
}

/* Checkout */
.woocommerce .checkout h3 {
  font-size: 1rem;
  padding: 15px;
  background: #111111;
  color: #FFFFFF;
  font-weight: 400;
  border-radius: 4px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.woocommerce-checkout .checkout .col-2 h3#ship-to-different-addres {
  float: none;
}

.woocommerce #order_review_heading {
  margin-top: 30px;
}

.woocommerce #payment, .woocommerce #payment div.payment_box {
  background-color: rgba(0, 0, 0, .08);
  font-size: 1rem;
  color: #000000;
}

.woocommerce #payment #place_order {
  float: none;
  margin-top: 20px;
  font-size: 1.25rem;
  padding: 15px 30px;
  background-color: #0066BB !important;
}

.woocommerce #payment #place_order:hover {
  background-color: #1188EE !important;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
  border: none;
  padding: 0px;
  margin: 10px 0;
  max-width: 600px;
}

/* PagSeguro */
.woocommerce #pagseguro-payment-form {
  border: none;
}


/* My Account */
.woocommerce-account h2 {
  font-size: 1.25rem;
  margin: 10px 0;
}

.woocommerce-account.logged-in .woocommerce { 
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 30px;
}
.woocommerce-account.logged-in .woocommerce::before, .woocommerce-account.logged-in .woocommerce::after {
  display: none;
}

.woocommerce-account.logged-in .woocommerce-MyAccount-navigation, .woocommerce-account.logged-in .woocommerce-MyAccount-content {
  width: auto;
  float: none;
}

.woocommerce #payment div.payment_box::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .4);
}

/* Side Menu */
.woocommerce-MyAccount-navigation ul {
  background-color: #111111;
}

.woocommerce-MyAccount-navigation a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, .08);
}

.woocommerce-MyAccount-navigation a:hover, .woocommerce-MyAccount-navigation .is-active a {
  background-color: orangered;
}

.woocommerce-MyAccount-content p {
  margin-bottom: 1rem;
}

.woocommerce-MyAccount-content button {
  margin-top: 15px !important;
}

.woocommerce .woocommerce-customer-details addres {
  border-width: 1px;
  border-radius: 0px;
}

@media (max-width: 800px) {
  .woocommerce-checkout .checkout .col-2 h3#ship-to-different-addres {
    margin-top: 30px;
  }

  .woocommerce-account.logged-in .woocommerce { 
    grid-template-columns: 1fr;
  }
}